#a-propos {
  max-width: 1160px;
  margin: auto;
  .a-propos-container {
    display: flex;
    margin-bottom: 100px;
    margin-top: 60px;
    align-items: center;
    img {
      margin-right: 100px;
      width: 360px;
    }
    .texte-apropos {
      h2 {
        margin-bottom: 20px;
      }
      p {
        width: 80%;
        line-height: 22px;
      }
    }
  }
  .encart-pourquoi {
    background-color: $powder-pink;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    padding: 40px 200px;
    h2 {
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      line-height: 22px;
    }
  }
  .experience {
    margin-bottom: 60px;
  }
  .formations,
  .experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-top: 60px;
    .formations-container,
    .experience-container {
      display: flex;
      align-items: baseline;
      margin-bottom: 18px;
      .boules {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: $red-cherry;
        margin: 0 10px;
      }
      .noms-ecoles {
        color: $dark-blue;
        font-family: $SemiBold;
      }
      p {
        line-height: 30px;
        max-width: 600px;
      }
    }
  }

  .langues-container {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    gap: 150px;
    .langues {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .langue {
      font-size: larger;
      font-family: $SemiBold;
      margin-bottom: 20px;
    }
  }

  .passions-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 100px 0 100px;
    .passions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
      .icones {
        font-size: 70px;
      }
    }
  }
  .border {
    margin-top: 25px;
    margin-bottom: 100px;
    width: 100%;
    border-bottom: 2px solid #e84e4f;
    display: block;
  }
}
