.ecran-accueil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  // background-color: $red-cherry;
  background: linear-gradient(
    142deg,
    rgba(232, 78, 79, 1) 31%,
    rgba(238, 201, 224, 1) 100%
  );
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
  .logo {
    width: 350px;
    transition: transform 1s ease-in-out;
    &.scrolled {
      transform: translateY(100px);
    }
  }
  .stars-entree {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease-in-out;
    &.scrolled {
      transform: translateY(-100px);
    }
  }
  .scrollez-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
    img {
      width: 80%;
      animation: saute 1s infinite ease-in-out;
    }
    p {
      margin-top: 10px;
      color: white;
    }
  }
}
.fond-blanc {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 999;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes saute {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
