.ecran-accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: $red-cherry;
  width: 100vw;
  height: 100vh;
  .logo {
    width: 350px;
  }
  .stars-entree {
    position: absolute;
    top: 0;
    left: 0;
  }
  .scrollez-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 78%;
    left: 50%;
    img {
      width: 80%;
      animation: saute 1s infinite ease-in-out;
    }
    p {
      margin-top: 10px;
      color: white;
    }
  }
}
@keyframes saute {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
