@font-face {
  font-family: "Montserrat-regular";
  src: url(../assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(../assets/fonts/Montserrat/Montserrat-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
body {
  font-family: "Montserrat-regular";
  color: #2e3d7c;
  margin: 0 auto;
}

.home {
  max-width: 1440px;
}

h1 {
  font-family: "Montserrat-Medium";
  font-size: 32px;
  line-height: 130%;
  margin: 0;
}

h2 {
  font-family: "Montserrat-Medium";
  font-size: 25px;
  margin: 0;
}

h3 {
  font-family: "Montserrat-regular";
  font-size: 18px;
  margin: 0;
}

p {
  font-family: "Montserrat-regular";
  font-size: 16px;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
  text-decoration: none;
}

.btn-red {
  color: white;
  background-color: #e84e4f;
  border-radius: 15px;
  border: none;
  padding: 20px 25px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-family: "Montserrat-regular";
  transition: all 0.2s ease-in-out;
}
.btn-red:hover {
  background-color: #df4141;
  transform: translateY(-2px);
}

.btn-pink {
  color: #2e3d7c;
  background-color: #eec9e0;
  border-radius: 15px;
  border: none;
  padding: 20px 25px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-family: "Montserrat-regular";
  transition: all 0.2s ease-in-out;
}
.btn-pink:hover {
  background-color: #e8c1da;
  transform: translateY(-2px);
}

.btn-pink .active {
  background-color: #e84e4f;
  color: white;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 80px;
}

.home {
  margin: 125px 150px;
}
.home span {
  color: #e84e4f;
}
.home .encart-contact {
  width: 100%;
  height: 210px;
  background-color: #eec9e0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.home .encart-contact h3 {
  padding-bottom: 18px;
}
.home .encart-contact .btn-red {
  padding: 15px 20px;
  font-size: 16px;
}

.a-bientot {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: 55px;
  margin-bottom: 70px;
}
.a-bientot p {
  font-size: 30px;
}
.a-bientot .star {
  position: absolute;
  right: -4%;
  bottom: 45%;
}

#realisation-page {
  margin: 125px 150px;
}
#realisation-page h1 {
  text-align: center;
  margin-bottom: 40px;
}
#realisation-page .infos {
  display: flex;
  justify-content: center;
  gap: 35px;
}
#realisation-page .infos p {
  background-color: #eec9e0;
  border-radius: 10px;
  text-align: center;
  padding: 5px 15px;
  margin-bottom: 70px;
}
#realisation-page .premier-bloc {
  display: flex;
  align-items: center;
  gap: 50px;
}
#realisation-page .premier-bloc img {
  width: 550px;
  height: 500px;
  background-color: #eee;
  border-radius: 20px;
  cursor: pointer;
}
#realisation-page .premier-bloc .texte-explication {
  width: 50%;
}
#realisation-page .premier-bloc .texte-explication h2 {
  margin-bottom: 20px;
}
#realisation-page .premier-bloc .texte-explication p {
  line-height: 22px;
}
#realisation-page .deuxieme-bloc {
  display: flex;
  gap: 120px;
  margin-bottom: 115px;
}
#realisation-page .deuxieme-bloc h2 {
  margin-bottom: 20px;
}
#realisation-page .deuxieme-bloc p {
  line-height: 22px;
}
#realisation-page .images-secondaires {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
#realisation-page .images-secondaires img {
  width: 515px;
  height: 395px;
  background-color: #eee;
  border-radius: 20px;
  cursor: pointer;
}
#realisation-page .images-secondaires p {
  line-height: 22px;
}
#realisation-page .fleches {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
#realisation-page .fleches .flex {
  gap: 18px;
  display: flex;
  align-items: center;
}
#realisation-page .fleches .arrow-prev {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#realisation-page .fleches .arrow-prev:hover {
  transform: translateX(-5px);
}
#realisation-page .fleches .arrow-next {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#realisation-page .fleches .arrow-next:hover {
  transform: translateX(5px);
}

.encart-contact {
  width: 100%;
  height: 210px;
  background-color: #eec9e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}
.encart-contact h3 {
  padding-bottom: 18px;
  text-align: center;
}
.encart-contact .btn-red {
  padding: 15px 20px;
  font-size: 16px;
}

@media screen and (max-width: 1360px) {
  #realisation-page .images-secondaires img {
    width: 365px;
    height: 245px;
  }
}
@media screen and (max-width: 992px) {
  #realisation-page .images-secondaires {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #realisation-page .images-secondaires img {
    width: 365px;
    height: 245px;
  }
}
@media screen and (max-width: 768px) {
  #realisation-page {
    margin: 70px 50px;
  }
  #realisation-page h2,
  #realisation-page p {
    text-align: center;
  }
  #realisation-page .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    gap: 20px;
  }
  #realisation-page .infos p {
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 0;
  }
  #realisation-page .premier-bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #realisation-page .premier-bloc img {
    width: 295px;
    height: 235px;
  }
  #realisation-page .premier-bloc .texte-explication {
    width: 100%;
  }
  #realisation-page .deuxieme-bloc {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    gap: 40px;
  }
  #realisation-page .images-secondaires img {
    width: 295px;
    height: 235px;
  }
  #realisation-page .fleches p {
    display: none;
  }
  #realisation-page .stars {
    margin: 50px;
  }
  .encart-contact {
    border-radius: 0;
  }
}
#navigation {
  margin: 20px 150px;
}
#navigation .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navigation .navigation img {
  width: 120px;
  transition: 0.2s ease-in-out;
}
#navigation .navigation img:hover {
  opacity: 0.8;
  transform: rotate(-1.5deg);
}
#navigation .navigation ul {
  display: flex;
  align-items: baseline;
  margin: 0;
  gap: 45px;
}
#navigation .navigation ul .nav-active {
  font-family: "Montserrat-SemiBold";
}
#navigation .navigation ul a {
  text-align: center;
  text-decoration: none;
  color: #e84e4f;
  border-bottom: 0px solid #e84e4f;
}
#navigation .navigation ul a:hover {
  border-bottom: 1.5px solid #e84e4f;
}
#navigation .navigation ul a li {
  cursor: pointer;
}
#navigation .navigation ul a .contact-box {
  color: white;
  background-color: #e84e4f;
  padding: 10px 22px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#navigation .navigation ul a .contact-box:hover {
  transform: translateY(-2px);
  font-family: "Montserrat-regular";
}
#navigation .menu-burger {
  display: none;
}
#navigation #btn {
  display: none;
}

.navigation-footer {
  width: 100vw;
  height: 80px;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #2e3d7c;
}
.navigation-footer ul {
  display: flex;
  align-items: center;
}
.navigation-footer ul span {
  color: white;
  padding: 0 10px;
}
.navigation-footer ul a {
  text-decoration: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navigation-footer {
    height: 100%;
  }
  .navigation-footer ul {
    flex-direction: column;
    padding: 0;
    margin: 30px 0;
  }
  .navigation-footer ul span {
    transform: rotate(90deg);
  }
}
.ecran-accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #e84e4f;
  width: 100vw;
  height: 100vh;
}
.ecran-accueil .logo {
  width: 350px;
}
.ecran-accueil .stars-entree {
  position: absolute;
  top: 0;
  left: 0;
}
.ecran-accueil .scrollez-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 78%;
  left: 50%;
}
.ecran-accueil .scrollez-container img {
  width: 80%;
  animation: saute 1s infinite ease-in-out;
}
.ecran-accueil .scrollez-container p {
  margin-top: 10px;
  color: white;
}

@keyframes saute {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.hero-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-header img {
  width: 360px;
}
.hero-header .text-header {
  width: 705px;
  padding-right: 90px;
}
.hero-header .text-header .btn-home {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  gap: 30px;
}
.hero-header .text-header .btn-home .btn-red {
  font-size: 18px;
}
.hero-header .text-header .btn-home .btn-pink {
  font-size: 18px;
}

.banniere-more {
  width: 100%;
  height: 250px;
  background-color: #2e3d7c;
  border-radius: 20px;
  margin-top: 100px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banniere-more h3 {
  color: white;
  font-family: "Montserrat-regular";
  font-size: 22px;
  margin-bottom: 40px;
}
.banniere-more .btn-red {
  font-size: 16px;
}
.banniere-more .h3-desktop {
  display: block;
}
.banniere-more .h3-mobile {
  display: none;
}

#realisations h2 {
  margin-bottom: 1%;
}
#realisations .categories {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
  gap: 25px;
}
#realisations .categories .btn-pink {
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 15px;
}
#realisations .realisations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
#realisations .realisations .realisation {
  perspective: 1000px;
}
#realisations .realisations .realisation .bloc {
  margin-bottom: 20px;
  width: 500px;
  height: 350px;
  background-color: #eeeeee;
  border-radius: 20px;
  transition: transform 0.5s;
  cursor: pointer;
}
#realisations .realisations .realisation .bloc:hover {
  transform: rotateY(-5deg);
}

#competences .title {
  margin-bottom: 100px;
}
#competences .competences {
  display: flex;
  justify-content: space-between;
}
#competences .competences .design-graphique,
#competences .competences .motion-design,
#competences .competences .web-design {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#competences .competences .design-graphique img,
#competences .competences .motion-design img,
#competences .competences .web-design img {
  margin-bottom: 30px;
}
#competences .competences .design-graphique h3,
#competences .competences .motion-design h3,
#competences .competences .web-design h3 {
  color: #e84e4f;
}
#competences .competences .design-graphique .more,
#competences .competences .motion-design .more,
#competences .competences .web-design .more {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#competences .competences .design-graphique .more:hover,
#competences .competences .motion-design .more:hover,
#competences .competences .web-design .more:hover {
  transform: translateY(-2px);
}
#competences .competences .design-graphique .more p,
#competences .competences .motion-design .more p,
#competences .competences .web-design .more p {
  padding-top: 2px;
}
#competences .hidden-container {
  animation: apparition 1s ease-in-out;
}
#competences .hidden-container .hidden {
  margin: 74px 50px;
  display: flex;
}
#competences .hidden-container .hidden img {
  width: 320px;
  height: 320px;
  background-color: #eee;
  border-radius: 20px;
}
#competences .hidden-container .hidden .texte-container {
  margin-left: 100px;
  width: 50%;
}
#competences .hidden-container .hidden .texte-container h2 {
  margin-bottom: 20px;
}
#competences .hidden-container .hidden .texte-container .title {
  margin-bottom: 50px;
}
#competences .hidden-container .hidden .texte-container .flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#competences .hidden-container .hidden .texte-container .flex p {
  margin-right: 30px;
  margin-bottom: 7px;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar {
  width: 400px;
  background-color: rgb(244, 237, 237);
  height: 20px;
  border-radius: 5px;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .progress {
  height: 100%;
  background-color: #e84e4f;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .ph {
  animation: animation85 1.5s ease-in-out;
  width: 85%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .ill {
  animation: animation90 1.5s ease-in-out;
  width: 90%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .id {
  animation: animation80 1.5s ease-in-out;
  width: 80%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .ae {
  animation: animation70 1.5s ease-in-out;
  width: 70%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .pp {
  animation: animation50 1.5s ease-in-out;
  width: 50%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .xd {
  animation: animation75 1.5s ease-in-out;
  width: 75%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .fig {
  animation: animation80 1.5s ease-in-out;
  width: 80%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .hc {
  animation: animation90 1.5s ease-in-out;
  width: 90%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .js {
  animation: animation70 1.5s ease-in-out;
  width: 70%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .re {
  animation: animation60 1.5s ease-in-out;
  width: 60%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .php {
  animation: animation50 1.5s ease-in-out;
  width: 50%;
}
#competences .hidden-container .hidden .texte-container .flex .progress-bar .wp {
  animation: animation85 1.5s ease-in-out;
  width: 85%;
}
#competences .hidden-container .hidden .texte-container .bouton {
  display: flex;
  justify-content: center;
}
#competences .hidden-container .hidden .texte-container .bouton .btn-pink {
  margin-top: 40px;
  font-size: 16px;
  padding: 15px 25px;
  font-family: "Montserrat-regular";
}
#competences .border {
  margin-top: 25px;
  width: 100%;
  border-bottom: 2px solid #e84e4f;
  display: block;
}

@keyframes apparition {
  0% {
    opacity: 0.2;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animation50 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@keyframes animation60 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
@keyframes animation70 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes animation75 {
  0% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}
@keyframes animation80 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes animation85 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
@keyframes animation90 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}
#a-propos .a-propos-container {
  display: flex;
  margin-bottom: 100px;
  margin-top: 60px;
  align-items: center;
}
#a-propos .a-propos-container img {
  margin-right: 100px;
  width: 360px;
}
#a-propos .a-propos-container .texte-apropos h2 {
  margin-bottom: 20px;
}
#a-propos .a-propos-container .texte-apropos p {
  width: 80%;
  line-height: 22px;
}
#a-propos .encart-pourquoi {
  background-color: #eec9e0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  padding: 40px 200px;
}
#a-propos .encart-pourquoi h2 {
  margin-bottom: 20px;
}
#a-propos .encart-pourquoi p {
  text-align: center;
  line-height: 22px;
}
#a-propos .formations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin-top: 60px;
}
#a-propos .formations .formations-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 18px;
}
#a-propos .formations .formations-container .boules {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #e84e4f;
  margin: 0 10px;
}
#a-propos .formations .formations-container .noms-ecoles {
  color: #2e3d7c;
  font-family: "Montserrat-SemiBold";
}
#a-propos .formations .formations-container p {
  line-height: 30px;
}
#a-propos .passions-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 100px 0 100px;
}
#a-propos .passions-container .passions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
#a-propos .passions-container .passions .icones {
  font-size: 70px;
}
#a-propos .border {
  margin-top: 25px;
  margin-bottom: 40px;
  width: 100%;
  border-bottom: 2px solid #e84e4f;
  display: block;
}

@media screen and (max-width: 1350px) {
  #realisations .realisations .realisation .bloc {
    width: 450px;
    height: 300px;
  }
}
@media screen and (max-width: 1200px) {
  #realisations .realisations .bloc {
    width: 500px;
    height: 350px;
  }
  #competences .hidden-container .hidden {
    margin: 74px 0;
  }
  #competences .hidden-container .hidden .texte-container {
    margin-left: 50px;
  }
}
@media screen and (max-width: 992px) {
  .ecran-accueil .stars-entree {
    display: none;
  }
  #navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
  }
  #navigation .navigation ul {
    display: none;
  }
  #navigation #btn {
    display: block;
    position: relative;
    cursor: pointer;
  }
  #navigation #btn span {
    width: 40px;
    background: #e84e4f;
    height: 4px;
    border-radius: 5px;
    display: block;
    margin-block: 5px;
    transition: 0.3s ease;
  }
  .hero-header {
    flex-direction: column;
  }
  .hero-header .text-header {
    width: 100%;
    padding-right: 0;
    margin-bottom: 70px;
  }
  .hero-header .text-header .btn-home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #realisations .categories {
    margin-top: 50px;
  }
  #realisations .realisations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #realisations .realisations .realisation .bloc {
    width: 450px;
    height: 300px;
  }
  #competences .competences {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  #competences .competences .bloc {
    width: 400px;
    height: 250px;
  }
  #competences .hidden-container .hidden {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
  }
  #competences .hidden-container .hidden img {
    width: 290px;
    height: 290px;
  }
  #competences .hidden-container .hidden .texte-container {
    margin-left: 0;
    margin-top: 30px;
  }
  #competences .hidden-container .hidden .texte-container .flex {
    flex-direction: column;
  }
  #competences .hidden-container .hidden .texte-container .flex p {
    margin-bottom: 7px;
  }
  #competences .hidden-container .hidden .texte-container .flex .progress-bar {
    width: 100%;
  }
  #competences .hidden-container .hidden .texte-container .bouton .btn-pink {
    margin-top: 20px;
  }
  #a-propos .a-propos-container img {
    margin-right: 50px;
  }
  #a-propos .a-propos-container .texte-apropos p {
    width: 100%;
  }
  #a-propos .encart-pourquoi {
    padding: 40px;
  }
  #a-propos .border {
    margin-bottom: 100px;
  }
  #a-propos .passions-container {
    gap: 60px;
  }
  #a-propos .passions-container .passions {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .stars-entree {
    display: none;
  }
  .ecran-accueil .logo {
    width: 250px;
  }
  #navigation {
    margin: 20px 100px;
  }
  .home {
    margin: 70px 50px;
  }
  .home .hero-header {
    margin: 50px 0;
  }
  .home .hero-header img {
    width: 300px;
  }
  .home .hero-header .text-header {
    margin: 50px 0;
    padding-right: 0;
  }
  .home .hero-header .text-header .btn-home {
    padding-top: 50px;
    align-items: center;
    gap: 30px;
  }
  .home .hero-header .text-header .btn-home .btn-red,
  .home .hero-header .text-header .btn-home .btn-pink {
    padding: 20px 15px;
  }
  .home .hero-header .text-header .btn-home .btn-red a,
  .home .hero-header .text-header .btn-home .btn-pink a {
    font-size: 16px;
  }
  .home .stars {
    margin: 40px 0;
  }
  .banniere-more {
    margin: 0;
  }
  .banniere-more h3 {
    margin-bottom: 20px;
  }
  .banniere-more .h3-desktop {
    display: none;
  }
  .banniere-more .h3-mobile {
    display: block;
    text-align: center;
  }
  #realisations .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    margin-top: 40px;
  }
  #realisations .categories .categories-btn {
    width: -moz-fit-content;
    width: fit-content;
  }
  #realisations .realisations {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #realisations .realisations a .realisation .bloc {
    width: 295px;
    height: 215px;
  }
  #a-propos .a-propos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  #a-propos .a-propos-container img {
    width: 300px;
    margin-right: 0;
  }
  #a-propos .a-propos-container .texte-apropos {
    margin-top: 60px;
  }
  #a-propos .a-propos-container .texte-apropos p {
    width: 100%;
  }
  #a-propos .encart-pourquoi {
    padding: 25px;
    margin-bottom: 60px;
  }
  #a-propos .encart-pourquoi h2 {
    text-align: center;
  }
  #a-propos .formations {
    margin-top: 40px;
  }
  #a-propos .formations .formations-container p {
    text-align: left;
  }
  #a-propos .formations .formations-container .boules {
    width: 20px;
    height: 10px;
  }
  #a-propos .passions-container {
    margin: 0;
    margin-top: 40px;
    gap: 16px;
  }
  #a-propos .passions-container .passions {
    margin-bottom: 30px;
  }
  #a-propos .stars {
    margin: 30px;
  }
  .a-bientot {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=index.css.map */